<section class="mainpage-bg">

  {{#if loggedIn}}
  <button id="dashboard-btn">Head To Dashboard</button>
  <script src="/javascript/dashboardButton.js"></script>
  {{else}}

  {{> splash-page}}

  {{/if}}

</section>