<article class="post">
  <div class="title">
    <a href="{{post.meal_desc}}" target="_blank">{{post.calories}}</a>
  </div>
  <div class="meta">
     Post by {{post.user.username}}
   
    |
    <a href="/post/{{post.id}}"> </a>
  </div>
</article> 